<div class="products">
  <div class="category">
    <h4><a href="/shop/prints" title="Quality digital photo prints">Prints</a></h4>
    <ul>
      <li><a href="/shop/prints/standard-prints" title="Standard digital photo prints">Standard Prints</a></li>
      <li><a href="/shop/prints/enlargement-prints" title="Enlargement photo prints">Enlargement Prints</a></li>
      <li><a href="/shop/prints/passport-id-photos" title="Passport Photos">Passport Photos</a></li>
      <li><a href="/shop/prints/print-credits" title="Print credits">Print Credits</a></li>
      <li><a href="/shop/prints/framed-prints" title="Framed prints">Framed Prints</a></li>
      <li><a href="/shop/prints/walbum" title="Photo Walbum">Walbum</a></li>
    </ul>
  </div>

  <div class="category">
    <h4><a href="/shop/photo-books" title="Photo Books">Photo Books</a></h4>
    <ul>
      <li><a href="/shop/photo-books/large-personalised-cover-photobook" title="A3 Personalised Cover Photobook">A3 Personalised Cover Photobook</a></li>
      <li><a href="/shop/photo-books/large-square-hardcover-photobook" title="Large Square Hardcover Photobook">Large Square Hardcover Photobook</a></li>
      <li><a href="/shop/photo-books/personalised-cover-photobook" title="A4 Personalised Cover Photobook">A4 Personalised Cover Photobook</a></li>
      <li><a href="/shop/photo-books/classic-cover-photobook" title="A4 Classic Photobook">A4 Classic Photobook</a></li>
      <li><a href="/shop/photo-books/crystal-deluxe-photobook" title="A4 Crystal Deluxe Photobook">A4 Crystal Deluxe Photobook</a></li>
      <li><a href="/shop/photo-books/square-hardcover-photobook" title="Square Hardcover Photobook">Square Hardcover Photobook</a></li>
      <li><a href="/shop/photo-books/square-stylebook" title="Square Softcover Photobook">Square Softcover Photobook</a></li>
      <li><a href="/shop/photo-books/square-spiral-softcover-photobook" title="Square Spiral Softcover Photobook">Square Spiral Softcover Photobook</a></li>
      <li><a href="/shop/photo-books/small-stylebook" title="Small Softcover Book">Small Softcover Book</a></li>
      <li><a href="/shop/photo-books/minibook" title="Minibook">Minibook</a></li>
      <li><a href="/shop/photo-books/cookbook" title="Cookbook">Cookbook</a></li>
      <li><a href="/shop/photo-books/baby-book" title="Baby First Year Book">Baby First Year Book</a></li>
      <li><a href="/shop/photo-books/book-for-dad" title="Book for Dad">Book for Dad</a></li>
      <li><a href="/shop/photo-books/book-for-mum" title="Book for Mum">Book for Mum</a></li>
      <li><a href="/shop/photo-books/abc-book-of-love" title="ABC Book of Love">ABC Book of Love</a></li>
      <li><a href="/shop/photo-books/lovebook" title="Lovebook">Lovebook</a></li>
    </ul>
  </div>

  <div class="category">
    <h4><a href="/shop/wall-decor" title="Wall Décor">Wall Décor</a></h4>
    <ul>
      <li><a href="/shop/wall-decor/poster-prints" title="Poster prints">Poster Prints</a></li>
      <li><a href="/shop/wall-decor/professional-photo-paper-poster-prints" title="Pro poster prints">Pro Poster Prints</a></li>
      <li><a href="/shop/wall-decor/collage-prints" title="Collage prints">Collage Prints</a></li>
      <li><a href="/shop/wall-decor/canvas-prints" title="Canvas prints">Canvas Prints</a></li>
      <li><a href="/shop/wall-decor/acrylic-prints" title="Acrylic Prints">Acrylic Prints</a> <strong>Lower Prices!</strong></li>
      <li><a href="/shop/wall-decor/ornate-framed-canvas-prints" title="Ornate Framed Canvas Prints">Ornate Framed Canvas</a></li>
      <li><a href="/shop/wall-decor/box-framed-prints" title="Box Framed Prints">Box Framed Prints</a></li>
      <li><a href="/shop/wall-decor/gallery-framed-prints" title="Gallery Framed Prints">Gallery Framed Prints</a></li>
      <li><a href="/shop/wall-decor/photo-art-enhancement" title="Mix It Up Photo Art">Mix It Up Photo Art</a></li>
      <li><a href="/shop/wall-decor/mounted-gallery-prints" title="Mounted Gallery Prints">Mounted Gallery Prints</a></li>
      <li><a href="/shop/wall-decor/aluminium-mounted-prints" title="Aluminium Mounted Prints">Aluminium Mounted Prints</a></li>
    </ul>
  </div>

  <div class="category">
    <h4><a href="/shop/cards" title="Personalised Cards">Personalised Cards</a></h4>
    <ul>
      <li><a href="/filters/cards?theme=general" title="Personalised General Cards">General Cards</a></li>
      <li><a href="/filters/cards?theme=birthday" title="Personalised Birthday Cards">Birthday Cards</a></li>
      <li><a href="/filters/cards?theme=christmas" title="Personalised Christmas Cards">Christmas Cards</a></li>
      <li><a href="/filters/cards?theme=baby" title="Personalised Baby Cards">Baby Cards</a></li>
      <li><a href="/filters/cards?theme=wedding" title="Personalised Wedding Cards">Wedding Cards</a></li>
      <li><a href="/filters/cards?theme=formum" title="Personalised Cards For Mum">For Mum Cards</a></li>
      <li><a href="/filters/cards?theme=fordad" title="Personalised Cards For Dad">For Dad Cards</a></li>
      <li><a href="/filters/cards?theme=thankyou" title="Personalised Thank you Cards">Thank You Cards</a></li>
      <li><a href="/filters/cards?theme=partyinvitation" title="Personalised Party invitation Cards">Party Invitation Cards</a></li>
    </ul>
  </div>
</div>

<div class="products">
  <div class="category">
    <h4><a href="/shop/calendars-and-diaries" title="Photo Calendars and Diaries">Photo Calendars and Diaries</a></h4>
    <ul>
      <li><a href="/shop/calendars-and-diaries/family-planner-calendar" title="Family Planner Calendar">Family Calendar</a></li>
      <li><a href="/shop/calendars-and-diaries/a3-poster-calendar" title="Personalised Poster Calendar">A3 Poster Calendar</a></li>
      <li><a href="/shop/calendars-and-diaries/deluxe-desk-calendar" title="Deluxe Desk Calendar">Deluxe Desk Calendar</a></li>
      <li><a href="/shop/calendars-and-diaries/a3-double-page-calendar" title="A3 Double Page Calendar">A3 Double Page Calendar</a></li>
      <li><a href="/shop/calendars-and-diaries/a3-and-a4-wall-calendars" title="A3 Wall Calendar">A3 Wall Calendar</a></li>
      <li><a href="/shop/calendars-and-diaries/a3-and-a4-wall-calendars" title="A4 Wall Calendar">A4 Wall Calendar</a></li>
      <li><a href="/shop/calendars-and-diaries/slim-calendar" title="Slim Calendar">Slim Calendar</a></li>
      <li><a href="/shop/calendars-and-diaries/desk-calendar" title="Desk Calendar">Desk Calendar</a></li>
      <li><a href="/shop/calendars-and-diaries/photo-diaries" title="Photo Diaries">Photo Diaries</a></li>
    </ul>
  </div>
  
  <div class="category">
    <h4><a href="/shop/stationery" title="Stationery">Stationery</a></h4>
    <ul>
      <li><a href="/shop/cards-and-stationery/business-cards" title="Personalised Business Cards">Business Cards</a></li>
      <li><a href="/shop/cards-and-stationery/photo-notebook" title="Personalised Photo Notebook">Photo Notebooks</a></li>
      <li><a href="/shop/cards" title="Personalised Cards">Personalised Cards</a></li>
      <li><a href="/shop/cards-and-stationery/postcard" title="Personalised Photo Postcards">Postcard</a></li>
      <li><a href="/shop/cards-and-stationery/wallet-cards" title="Photo Wallet Cards">Wallet Cards</a></li>
    </ul>
  </div>

  <div class="category">
    <h4><a href="/shop/home-gifts" title="Home Gifts">Home Gifts</a></h4>
    <ul>
      <li><a href="/shop/home-gifts/photo-mug" title="Mug with your photo">Mugs</a></li>
      <li><a href="/shop/home-gifts/photo-coasters" title="Coasters with your photo">Coasters</a></li>
      <li><a href="/shop/home-gifts/photo-placemats" title="Personalised photo Placemats">Placemats</a></li>
      <li><a href="/shop/home-gifts/photo-cushion" title="Personalised Photo Cushions">Cushion</a></li>
      <li><a href="/shop/home-gifts/photo-mousemat" title="Mousemat with your photo">Mousemats</a></li>
      <li><a href="/shop/fun-stuff/etched-glass" title="Personalised etched glass gifts">Etched Glass</a></li>
      <li><a href="/shop/fun-stuff/photo-fridge-magnet" title="Personalised fridge magnets">Fridge Magnet</a></li>
      <li><a href="/shop/fun-stuff/photo-jigsaw" title="Personalised Photo Jigsaw">Jigsaw</a></li>
      <li><a href="/shop/fun-stuff/photo-keyrings" title="Personalised Photo Keyrings">Photo Keyrings</a></li>
      <li><a href="/shop/fun-stuff/photo-stickers" title="Personalised Photo Stickers">Photo Stickers</a></li>
    </ul>
  </div>


  <div class="category">
    <h4><a href="/shop/clothing-and-accessories" title="Clothing and Accessories">Clothing and Accessories</a></h4>
    <ul>
      <li><a href="/shop/clothing-and-accessories/photo-bags" title="Personalised Photo Bags">Bags</a></li>
      <li><a href="/shop/clothing-and-accessories/photo-t-shirts" title="Personalised Photo T-shirts">T-Shirts</a></li>
      <li><a href="/shop/clothing-and-accessories/photo-fashion" title="Personalised Photo fashion">Photo Fashion</a></li>
    </ul>
  </div>
</div>

<br class="clear">