<ul class="sitemap">
  <li><a href="/content/about-us">About us</a></li>
  <li><a rel="nofollow" href="/content/help/contact-us">Contact us</a></li>
  <li><a href="/content/corporate">Corporate</a></li>
  <li><a href="/affiliate">Affiliates</a></li>
  <li><a href="/content/jobs">Careers</a></li>
  <li><a alt="Delivery information and prices" href="/content/prices-and-services">Delivery times</a></li>
  <li><a alt="Pricing information about our prints and photo gifts" href="/content/prices-and-services">Prices</a></li>
  <li><a rel="nofollow" href="/content/quality-advice">Quality advice</a></li>
  <li><a href="/content/sell" class="pbx_external">Sell</a></li>
  <li><a rel="nofollow" href="/service-status">Service status</a></li>
  <li><a rel="nofollow" href="/content/legal/terms-of-use">Terms of use</a></li>
  <li><a rel="nofollow" href="/content/legal/privacy">Privacy policy</a></li> 
  <li><a href="/content/site-map">Site map</a></li>
  <li><a href="http://www.emporium.dev/">Other countries</a></li>
  <li><a href="http://blog.emporium.dev/">Blog</a></li>
</ul>

<p><strong>Europe's leading online digital photo service with more than 11 million members.</strong></p>

<ul class="social">
  <li class="facebook">Emporium on Facebook</li>
  <li class="appstore">Emporium2Go</li>
  <li class="youtube">Emporium on YouTube</li>
  <li class="twitter">Emporium on Twitter</li>
</ul>

<p class="copyright">&copy; Emporium <%= Time.now.year %> – Personal publishing and printing online – bring your digital photos to life</p>