<nav id="navigation">
  <ul>
    <li data-menu="shop"><a href="/shop">Shop</a></li>
    <li><a href="/shop/photo-books">Photo Books</a></li>
    <li><a href="/shop/wall-decor/canvas-prints">Canvas</a></li>
    <li><a href="/shop/wall-decor">Wall Decor</a></li>
    <li><a href="/shop/cards">Cards</a></li>
    <li><a href="/shop/prints">Prints</a></li>
    <li class="special"><a href="/my">My Emporium</a></li>
    <li class="special"><a href="/my/album/upload">Upload</a></li>
    <li class="special"><a href="/my/promos">Special Offers</a></li>
  </ul>
</nav>

<%= product_navigation :shop %>