<ul class="products">
  <% locals[:categories].each do |slug, category| %>
    <% tag :li, :class => "product #{slug}" do %>
      <h3><%= category[:name] %></h3>
      <%= link_to category[:href], "Buy now" %>
    <% end %>
  <% end %>
</ul>