<div class="cta signup">
  <h3><strong>40</strong> free prints</h3>
  <div class="content">
    <p class="join">Join us today!</p>
    <p class="caption">Europe's leading online photo service</p>
    <a href="/signup" class="orange button start">Sign up now</a>
    <br class="clear">
  </div>
</div>