<ul id="essentials">
  <li><a href="/my">Ben Darlow</a></li>
  <li><a href="/logout">Sign Out</a></li>
  <li><a href="/my/account/history">Where's my order?</a></li>
  <li><a href="/content/site-map">Site map</a></li>
  <li><a href="/help">Help</a></li>
</ul>

<div class="user_controls">
  <div id="basket">
    <a href="/my/basket">View basket</a> (0 items)
  </div>
  <form id="search" action="/search">
    <input type="text" name="search" placeholder="Search the site" spellcheck="false"> <input type="submit" value="Search">
  </form>
  <br class="clear">
</div>