<div class="actions">
  <h3>Hello, Ben!</h3>
  <p>What would you like to do?</p>
  <ul>
    <li><a href="/">Where's my order?</a></li>
    <li><a href="/">Upload photos</a></li>
    <li><a href="/">See my photos and creations</a></li>
    <li><a href="/">Refer a friend</a></li>
    <li><a href="/">Sign up for exclusive offers</a></li>
  </ul>
</div>