#offer_20percent_off { background-image:url(/images/content/canvas.jpg); }
#offer_35percent_off_photobooks { background-image:url(/images/content/scattered_photos.jpg); }
#offer_save_a_fiver { background-image:url(/images/content/mugs.jpg); }
#offer_canvas_prints { background-image:url(/images/content/create_canvas.jpg); }

#slide_20110812_35_off_books_hotnow { background-image:url(/images/content/6014055528_61d6e26e3c_z.jpg); }
#slide_20110812_35_off_books { background-image:url(/images/content/6014397596_bd62809e04_z.jpg); }
#slide_20110812_20_off_prints { background-image:url(/images/content/6016555438_282bf448d4_z.jpg); }
#slide_20110812_5_off_20_walldecor { background-image:url(/images/content/6019105581_7332f3cd8a_z.jpg); }
#slide_20110812_5_off_20_canvasprints { background-image:url(/images/content/6022483684_c231037f5f_z.jpg); }
#slide_20110812_5_off_20_posterprints { background-image:url(/images/content/6022742386_5c66cdcfb1_z.jpg); }
#slide_20110812_5_off_20_homegifts { background-image:url(/images/content/6023309696_4c3069efee_z.jpg); }
#slide_20110812_5_off_20_mugs { background-image:url(/images/content/6032540267_1ac4ee5023_z.jpg); }
#slide_20110812_refer_friend { background-image:url(/images/content/6033247698_3f4c246123_z.jpg); }
